<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entidades" connectionString="metadata=res://*/Modelo.ModeloCame.csdl|res://*/Modelo.ModeloCame.ssdl|res://*/Modelo.ModeloCame.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBERTO-PC\SQLEXPRESS;initial catalog=Came;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>