<?xml version="1.0" encoding="utf-8"?>
<configuration>
  

<connectionStrings><add name="Entidades" connectionString="metadata=res://*/Modelo.ModeloCame.csdl|res://*/Modelo.ModeloCame.ssdl|res://*/Modelo.ModeloCame.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ALBERTO-PC\SQLEXPRESS;Initial Catalog=came;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>